<% title("Users Admin") %>
<h1>Users <small>Admin</small></h1>
<p><%= link_to "Back to Admin", admin_root_path %></p>

<div class="text-center">
  <p><%= page_entries_info @users %></p>
  <%= paginate @users %>
</div>

<%= form_tag admin_users_path, method: 'get', html: {role: "form"} do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil, class: "btn btn-sm btn-primary" %>
  <%= link_to "All", admin_users_path, {class: "btn btn-sm btn-link"} %>
</p>
<% end %>

<table class="table table-striped">
  <tr>
		<th>Name</th>
    <th>Email</th>
    <th>Phone</th>
		<th>Last Contacted At</th>
		<th>Last Replied At</th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= link_to user.email, admin_user_path(user) %></td>
    <td><%= user.phone_number.phony_formatted unless user.phone_number.nil? %></td>
		<td><%= user.last_sent_message.nil? ? "none" : localize(user.last_sent_message.created_at, :format => :long) %></td>
		<td><%= user.last_received_message.nil? ? "none" : localize(user.last_received_message.created_at, :format => :long) %></td>
  </tr>

  <% end %>

</table>

<div class="text-center">
  <p><%= page_entries_info @users %></p>
  <%= paginate @users %>
</div>
