<% title("Users Admin") %>
<h1>Users <small>Admin</small></h1>
<p><%= link_to "Back to Admin", admin_root_path %></p>

<div style="padding-bottom:40px">
<%= form_tag admin_users_path, method: 'get', html: {role: "form"} do %>
<span style="float: left;">
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil, class: "btn btn-sm btn-primary" %>
  <%= link_to "All", admin_users_path, {class: "btn btn-sm btn-link"} %>
</span>
<% end %>
<span style="float:right;">
  <%= link_to "Add User", new_admin_user_path, {class: "btn btn-sm btn-info"} %>
</span>
</div>
<table class="table table-striped">
  <tr>
		<th>Name</th>
    <th>Email</th>
    <th>Phone</th>
		<th>Last Message</th>
		<th>Replied?</th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= link_to user.email, admin_user_path(user) %></td>
    <td><%= user.phone_number.phony_formatted unless user.phone_number.nil? %></td>
		<td><%= user.last_message.nil? ? "none" : localize(user.last_message.created_at, :format => :long) %></td>
		<td><%= user.last_message.nil? ? "no" : (user.last_message.received ? "<b>Yes</b>".html_safe : "no" )%></td>
  </tr>

  <% end %>

</table>

