<% title("User Id: #{@user.id}") %>
<div class="row">
  <div class="col-sm-4">
    <h1>
			<%= @user.name %><br/>
			<small><%= "#{@user.email}" %></small><br/>
			<small><%= "#{@user.phone_number.phony_formatted}" %></small><br/>
			<small><%= "#{@user.group}" %></small>
		</h1>
		<p><%= link_to "Edit User", edit_admin_user_path(@user.id) %></p>
    <p><%= link_to "Back to Users", admin_users_path %></p>
    </div>
    <div class="col-sm-8">
		<h2>Messages</h2>
		<table class="table message-table">
			<thead>
				<tr>
					<th></th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<% @user.messages.each do |msg| %>
					<tr class="<%= msg.received ? "msg-received" : "msg-sent" %>">
						<td><%= msg.body %></td>
						<td><%= localize(msg.created_at, :format => :long) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<div class="message-new">
			<%= form_for([:admin, @message]) do |f| %>
			  <% if @message.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

			      <ul>
			      <% @message.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>


			  <%= hidden_field_tag "message[user_id]", @user.id %><br>
			  <%= hidden_field_tag "message[received]", false %><br>

			  <div class="message-body">
			    <%= f.text_field :body, placeholder: "Send a new message..." %>
			    <%= f.submit "Send", :class => "btn btn-info" %>
			  </div>
			<% end %>
		</div>
	</div>
</div>
